<div class="container">
    <div class="title">
        <span>My Portfolio</span>
    </div>

    <div class="name">
        <span>
            <span>Hi,</span> I am
        </span><br>
        <span>Samarth Bhatt</span><br>
        <span>Web Developer</span>
    </div>

    <div class="profile">
        <!-- here this div is back-ground of our image -->
        <!-- <img src="../../assets/IMG_20230521_200205_818.jpg" alt=""> -->
        <div class="profile-bg"></div>
        <img src="../../assets/../../assets/file.png" alt="">
    </div>
</div>