<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <!-- <a target="_blank" href = "mailto:bsamarth155@gmail.com"> </a> -->
        <li><a href="mailto:bsamarth155@gmail.com"><i class='bx bxl-gmail'></i></a></li>
        <!-- <li><i class='bx bxl-facebook-circle'></i></li> -->
         <!-- <a href ="https://www.instagram.com/samael_23742?igsh=MTMwMmZ3MmdoMHphNA=="></a> -->
        <li><a target="_blank" href="https://www.instagram.com/samael_23742?igsh=MTMwMmZ3MmdoMHphNA=="><i class='bx bxl-instagram'></i></a></li>
    </ul>

    <ul class="contact-info">
        <li>Mobile: 6354396352</li>
        <li>bsamarth155@gmail.com</li>
    </ul>
</div>